<%- include('./partials/head') %>

    <body>

        <div class="Verzendkosten">
            GEEN VERZENDKOSTEN bij aankoop van mijn
            eerste pinda in 3 of 6 stappen + mijn eerste pinda
            Opvolgkit
        </div>

        <header>
            <img src="./assets/Vini Mini.png" class="Vini-Mini" alt="ViniMiniLogo">
            <nav>
                <ul>
                    <li> <a href="">Voor mini </a></li>
                    <li> <a href="">Producten </a></li>
                    <li> <a href="">Over ons </a></li>
                    <li> <a href="">Nieuws </a></li>
                    <li> <a href="">Contact </a></li>
                    <li> <a href="">Zoeken </a></li>
                </ul>
            </nav>
        </header>

        <h1>Producten</h1>

        <section>
            <article>
                <img src="<%= producten.url %>" alt="De afbeelding van <%= producten.slug %>" />
                <h2>
                    <%= producten.slug %>
                </h2>
            </article>
        </section>

        <section>
            <article>
                <img src="<%= producten.url %>" alt="De afbeelding van <%= producten.slug %>" />
                <h2>
                    <%= producten.slug %>
                </h2>
            </article>
        </section>

        <section>
            <article>
                <img src="<%= producten.url %>" alt="De afbeelding van <%= producten.slug %>" />
                <h2>
                    <%= producten.slug %>
                </h2>
            </article>
        </section>

        <section>
            <article>
                <img src="<%= producten.url %>" alt="De afbeelding van <%= producten.slug %>" />
                <h2>
                    <%= producten.slug %>
                </h2>
            </article>
        </section>

        <%- include('./partials/foot') %>